<header id="head">
   <div>
      <h1 id="logo"><a><img height="180px" width="500px" src="..\assets\img\logo.png" alt="CRYPTO MART"></a></h1>
   </div>
   <div id="NavigationBar" class="row" class="col-md-12">
      <div id="NavButtonContainer">
         <button class="btn btn-success" id="NavButton" routerLink="/main">HOME</button>
         <button class="btn btn-success" id="NavButton" routerLink="/shoping-cart">CART</button>
         <button class="btn btn-success" id="NavButton" routerLink="/main">BUY AGAIN</button>
         <button class="btn btn-success" id="NavButton" routerLink="/main">COUPONS</button>
         <button class="btn btn-success" id="NavButton" routerLink="/main">BROWSING HISTORY</button>
         <button class="btn btn-success" id="NavButton" routerLink="/main">DEALS</button>
      </div>
   </div>
   <div id="AccountContainer">
      <div *ngIf="!this.isLoggedIn" id="AuthentificationContainer">
         <button class="btn btn-success" id="AuthentificationButton" routerLink="/sign-in"><i class="fa fa-user"></i> SIGN IN </button>
         <button class="btn btn-success" id="AuthentificationButton" routerLink="/sign-up"><i class="fa fa-key"></i> SIGN UP </button>
      </div>
   </div>

   <!--Post Login Welcome Message-->
   <div *ngIf="this.isLoggedIn" id="WelcomeMessageContainer">
      <h4 id="WelcomeMessage">Welcome {{this.user.firstName}}!</h4>
      <!--Post Login Account Settings Menu Dropdown-->
      <div class="dropdown" id="DropDownContainer" appDropdown>
         <a class="dropdown-toggle" role="button"> My Account <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li> <a class="setting" routerLink="/profile">My Market</a> </li>
            <li> <a class="setting" routerLink="/inbox">My Inbox&nbsp;&nbsp;<img *ngIf="this.unreadNotifs" width="15%" src="..\assets\img\red-1-notif.png"/></a> </li>
            <li> <a class="setting" routerLink="/my-wallet">My Wallet</a> </li>
            <li *ngIf="this.user.type == 'admin'"> <a class="setting" routerLink="/admin-panel">Admin Panel</a> </li>
            <li> <a class="setting" (click)="logout()">Sign Out</a> </li>
         </ul>
      </div>
   </div>
</header>