/* REVISED INTO RELATIVE RESIZING*/
/* REVISED COLOR PALETTE*/

#head {
    display: flex; 
    justify-content: space-around;
    background-color: #0B132B;
    border: 4px solid #1C2541;
}

#logoHolder {
    margin-top: -2%;
    height: 100%;
}

#NavButtonContainer {
    background-size: cover;
    background-position-y: 45%;
    border-left: 4px solid #1C2541;
    border-right: 4px solid #1C2541;
    text-align: center;
    height: 100%;
    width: 90%;
}

#NavButton {
    position:relative;
    padding: 1% 1%;
    margin-right: 0.5%;
    margin-top: 10%;
}

#AccountContainer {
    margin-right: 1%;
    white-space: nowrap;
    margin-top: 2%;
    height: 100%;
    width: 20%;
}

#AuthentificationContainer {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#AuthentificationButton {
    margin-top: 5%;
}

#AccountSettingsContainer {
    text-align: center;
    padding-left: 30%;
    width: 100%;
}

#WelcomeMessage {
    color: white;
    font-weight: bold;
    font-size: large;
}

/* CUSTOM BUTTONS */
button.btn-success {
    background-color: #45B0AE;
    color: #3A506B;
    border-color: #1C2541;
    font-weight: bold;
}

button.btn-success:focus {
    background-color: #6FFFE9;
    color: #1D2835
}

button.btn-success:hover {
    animation-name: colorhoverheader;
    animation-duration: 400ms;
    background-color: #6FFFE9;
    color: #1D2835;
}

@keyframes colorhoverheader {
    from {background-color: #45B0AE}
    to {background-color: #6FFFE9}
    from {color: #3A506B}
    to {color: #1D2835}
}

/* CUSTOM ACCORDION*/
.dropdown-toggle {
    position: relative;
    color: rgb(255, 255, 255);
    border-color: #6FFFE9;
    font-weight: bold;
}

.dropdown-menu {
    position: relative;
}

#DropDownMenu {
    text-align: center;
    width: 100%;
    height: 100%;
}