#head {
    position: sticky;
    background-color: #f8eeca;
    z-index: 1;
}

button.btn-success {
    background-color: #e9e3cf;
    color: black;
    border-color: #d8c3a5;
    font-weight: bold;
}

button.btn-success:hover {
    animation-name: colorhover;
    animation-duration: 500ms;
    background-color: #d8c3a5
}

@keyframes colorhover {
    from {background-color: #e9e3cf}
    to {background-color: #d8c3a5}
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.mininavbar {
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}

#UserButtons {
    position: relative;
    top: 20px;
    left: 1050px;
}

#MenuButton {
    position:relative;
    transform: translate(0px, 60px);
}

#WelcomeMessage {
    font-size: large;
    position: relative;
    top: 20px;
    left: 1050px;
}

.dropdown-toggle {
    position: relative;
    right: 25px;
    top: 50px;
    color: black;
    border-color: #d8c3a5;
    font-weight: bold;
    width: 160px;
}

.dropdown-menu {
    position: relative;
    right: 25px;
    top: 50px;
}