header {
    background-color: #eae7dc;
}

button.btn-success {
    background-color: #eae7dc;
    color: black;
    border-color: #d8c3a5;
    font-weight: bold;
}

button.btn-success:hover {
    animation-name: colorhover;
    animation-duration: 500ms;
    background-color: #d8c3a5
}

@keyframes colorhover {
    from {background-color: #eae7dc}
    to {background-color: #d8c3a5}
}

.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

.mininavbar {
    float: right;
    margin-top: 5%;
    margin-right: 10%;
}
