<button class="btn btn-normal" routerLink="/main">Return</button>
<div class="container">
    <ul>
        <h3>Notifications</h3>
        <div *ngIf="userItems.length > 0; else noItemsBlock">
            <ng-container *ngFor="let item of userItems; let i = index">
                <hr>
                <div id="ItemContainer" *ngIf="item.reason != 'SOLD'">
                    <div id="ItemInfo">
                        <b>Banned Listing!</b><br/><br/>
                        <span><b>Item Title:</b> {{ item.item.title }}</span>
                        <br><br>
                        <p> <b>Ban Description:</b> </p>
                        <p>
                            {{ item.reason }}
                        </p>
                    </div>
                    <div>
                        <span class="badge">${{ item.item.price }}</span>
                    </div>
                    <div id="itemOptionsContainer">
                        <button class="btn btn-danger" (click)="markAsRead(item)"><p id="rotatedText">Mark as read</p></button>
                    </div>
                </div>
                <div id="ItemContainer" *ngIf="item.reason == 'SOLD'">
                    <div id="ItemInfo">
                        <b>Sold Listing!</b><br/><br/>
                        <span><b>Item Title:</b> {{ item.item.title }}</span>
                        <br/>
                        <span><b>Quantity:</b> {{ item.item.quantity }}</span>
                        <br/>
                        <span><b>Shipping:</b> {{ item.item.shippingOption }}</span>
                        <br><br>
                    </div>
                    <div>
                        <span class="badge">${{ item.item.price }}</span>
                        
                    </div>
                    <div id="itemOptionsContainer">
                        <button class="btn btn-danger" (click)="markAsRead(item)"><p id="rotatedText">Mark as read</p></button>
                    </div>
                </div>
            </ng-container>
        </div>

        <ng-template #noItemsBlock>
            <hr>
            <p style="color: white">This user does not have any notifications.</p>
        </ng-template>

    </ul>
</div>