<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div id="wallet" class="wallet">
    <div id="QRCode" class="objectInCenter" >
        <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{this.myWallet.primaryAddress}}" alt="QRCode">
    </div>
    <div class="objectInCenter" >
        <p id="text">CryptoMart Balance: {{this.myWallet.balance}}</p>
        <p id="address">{{this.myWallet.primaryAddress}}</p>
    </div>
</div>
<h2>Incoming Transactions</h2>

<div id="transaction" class="objectInCenter">
    <ul class="list-group">
        <div id="MarketItemsContainer">
            <ng-container *ngFor="let item of this.myWallet.transactions; let i = index">
                <div *ngIf="item.isIncoming" class="list-group-item" id="ItemContainer">
                    <p id="text" >TX Hash: {{item.hash}}</p>
                    <p id="text">Fee: {{item.fee/1000000000000}} </p>
                    <p id="text">Number of confirmations: {{item.numConfirmations}}</p>
                    <p id="text">Amount: {{item.incomingTransfers[0].state['amount']/1000000000000}}</p>
                </div>
                
                <hr>
            </ng-container>
        </div>
    </ul> 
</div>

<h2>Outgoing Transactions</h2>
<div id="transaction" class="objectInCenter">
    <ul class="list-group">
        <div id="MarketItemsContainer">
            <ng-container *ngFor="let item of this.myWallet.transactions; let i = index">
                <div *ngIf="item.isOutgoing" class="list-group-item" id="ItemContainer">
                    <p id="text" >TX Hash: {{item.hash}}</p>
                    <p id="text">Fee: {{item.fee/1000000000000}} </p>
                    <p id="text">Number of confirmations: {{item.numConfirmations}}</p>
                    <p id="text">Amount: {{item.outgoingTransfer.state['amount']/1000000000000}}</p>
                </div>
                
                <hr>
            </ng-container>
        </div>
    </ul> 
</div>


