<div *ngIf="listingsMode">
    <svg id="pmarketAnimatedContainer">
        <!--CUSTOM TITLE ANIMATION-->
        <symbol id="pmarketAnimatedLines"> <text y="80%"> Your Market Listings: </text> </symbol>
        <g>
            <use xlink:href="#pmarketAnimatedLines" class="line"></use>
            <use xlink:href="#pmarketAnimatedLines" class="line"></use>
            <use xlink:href="#pmarketAnimatedLines" class="line"></use>
            <use xlink:href="#pmarketAnimatedLines" class="line"></use>
            <use xlink:href="#pmarketAnimatedLines" class="line"></use>
        </g>
    </svg>
    <ng-container *ngIf="sellItems.length > 0; else NoItemsBlock">
        <ul class="list-group" id="userActiveListingsContainer">
            <a class="list-group-item" id="listItem" *ngFor="let sellItem of sellItems; let i = index" (click)="onEditItem(sellItem)">
                <div style="display: flex;" id="userActiveListings">
                    <div>
                        <img id="ItemImage" height="200px" width="250px" src={{sellItem.images}} alt="hi">
                    </div>
                    <div id="itemDesc">
                        <span><b>Item Title:</b><br> {{ sellItem.title }}</span>
                        <!-- Cut off descriptions longer than 150 characters -->
                        <p *ngIf="sellItem.description.length > 150">
                            <b>Description:</b><br>
                            {{ sellItem.description.substring(0, 150) }}...
                        </p>
                        <p *ngIf="150 > sellItem.description.length">
                            <b>Description:</b><br>
                            {{ sellItem.description }}
                        </p>
                    </div>
                    <div class="verticalDivisor"></div>
                    <div>
                        <span class="badge">${{ sellItem.price }}</span>
                    </div>
                </div>
            </a>
        </ul>
    </ng-container>
    <ng-template #NoItemsBlock>
        <p style="color:white"> No listings! Add one to the left... </p>
    </ng-template>
</div>