<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="first">First Name</label>
                <input
                  type="strig" id="first" class="form-control"
                  formControlName="first" name="first" required/>
                  <div *ngIf="signUpForm.controls.first.invalid && (signUpForm.controls.first.dirty || signUpForm.controls.first.touched)"
                  class="alert alert-danger">
                  <div *ngIf="signUpForm.controls.first.errors?.['required']">
                    First Name is required.
                  </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="last">Last Name</label>
                <input
                  type="email" id="last" class="form-control"
                  formControlName="last" name="last" required/>
                  <div *ngIf="signUpForm.controls.last.invalid && (signUpForm.controls.last.dirty || signUpForm.controls.last.touched)"
                  class="alert alert-danger">
                  <div *ngIf="signUpForm.controls.last.errors?.['required']">
                    Last Name is required.
                  </div>
                  </div>
              </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input
                type="email" id="email" class="form-control"
                formControlName="email" name="email" required email/>
                <div *ngIf="signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)"
                class="alert alert-danger">
                <div *ngIf="signUpForm.controls.email.errors?.['required']">
                    E-Mail is required.
                </div>
                <span *ngIf="!signUpForm.controls.email.errors?.['required']">email is not correrct</span>
                </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control"
                formControlName="password" name="password" required/>
                <div *ngIf="signUpForm.controls.password.invalid && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)"
                class="alert alert-danger">
                <div *ngIf="signUpForm.controls.password.errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="signUpForm.controls.password.errors?.['minlength']">
                    Password must be at least 8 characters long.
                </div>
                </div>
            </div>
            <div class="form-group">
                <label for="rePassword">Re Enter Password</label>
                <input type="password" id="rePassword" class="form-control"
                  formControlName="rePassword" name="rePassword"/>
                  <div *ngIf="this.signUpForm.controls['rePassword'].value ==='' && (signUpForm.controls.rePassword.dirty || signUpForm.controls.rePassword.touched)"
                  class="alert alert-danger">
                  <div>
                    Field is required.
                  </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="this.signUpForm.controls['rePassword'].value !=='' &&
                  (signUpForm.controls.rePassword.dirty || signUpForm.controls.rePassword.touched) &&
                    signUpForm.controls.password.value !== signUpForm.controls.rePassword.value">
                    Passwrd didn't match.
                  </div>
              </div>
            <div style="float: right;">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!passwordMatch"
              > SIGNUP </button>
              <div class="divider"></div>
              <button class="btn btn-success" routerLink="/main">BACK</button>
            </div>
          </form>
    </div>
</div>

