hr{
    background: #000;
}

h3 {
    color: white;
}

.badge {
    background-color: #0B132B;
    font-size: large;
    padding-right: 5%;
    margin-top: 4%;
    margin-left: 35%;
}

#quantity {
    padding-left: 6%;
}

#userIn {
    pointer-events:visibleFill;
    width: 60%;
    background-color: #86a6ce;
    border: 2px solid #0B132B;
}

#cartItemsContainer { /*Updated width value for better on-page positioning*/
    width: 78%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #0B132B;
    border: 4px solid #1C2541;
    border-radius: 15px;
    padding-top: 0.4%;
    padding-left: 1%;
    padding-right: 3%;
}

#cartItemMainContainer {
    display: flex; 
    margin-bottom: 0.1%;
    color: rgb(230, 230, 230);
    background-color: #7A96B8;
    border: 2px solid #3A506B;
    border-radius: 10px;
}

#cartItemMainContainer:hover {
    animation-name: colorhover;
    animation-duration: 300ms;
    background-color: #BDCADB;
    color: #0B132B;
}

@keyframes colorhover {
    from {background-color: #7A96B8}
    to {background-color: #BDCADB}
    from {color: rgb(230, 230, 230)}
    to {color: #0B132B}
}

#itemImagecontainer {
    width: 25%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}

#itemImage {
    border: 2px solid #3A506B;
    border-radius: 15px;
}

#cartItemInfoContainer {
    display: flex; 
}

#cartItemInfo {
    white-space: nowrap;
    flex-direction: column; 
    justify-content: space-around;
    position: relative;
    padding-top: 1%;
    left: 1%;
    font-size: large;
	width: 65%;
    display: flex;
    cursor: pointer;
}

#cartItemDescrtiption {
    white-space:initial;
}

#itemOptionsContainer {
    justify-content: space-around;
    width: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 2%;
    flex-direction: column;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#cartOptionsTitle {
    font-size: large;
    padding-left: 28%;
    margin-top: 4%;
    margin-bottom: 10%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#deleteButton {
    width: 75%;
    margin-top: 2%;
    margin-left: 10%;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

#checkOutMenu { /*Updated margin value for better on-page positioning*/
    width: 15%;
    height: fit-content;
    margin-top: 5%;
    margin-left: 82.5%;
    padding-bottom: 1%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7A96B8;
    border: 2px solid #0B132B;
    border-radius: 15px;
}

.checkoutTitle {
    padding-bottom: 1%;
    border-bottom: 2px solid black;
}

.checkoutQuestion {
    font-size: larger;
}

#checkoutInfo {
    font-size: medium;
    color: black;
}

#checkoutButton {
    width: 80%;
}

.popup {
    position: fixed;
    margin-top: 5%;
    margin-left: 82.5%;
    background-color: #7A96B8;
    width: 15%;
    height: 28%;
    visibility:hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 4px solid #1C2541;
    border-radius: 15px;
    padding-bottom: 1%;
}

@keyframes popupHighlight{
    from {background-color: #ffffff}
    to {background-color: #7a98bd}
    from {color: #000000}
    to {color: #5e5e5e}
}

/* CUSTOM BUTTONS */
button.btn-success {
    width: 63%;
    margin-bottom: 2%;
    background-color: #45B0AE;
    color: #3A506B;
    border-color: #1C2541;
    font-weight: bold;
}

button.btn-success:hover {
    animation-name: colorhoverCart;
    animation-duration: 400ms;
    background-color: #6FFFE9;
    color: #1D2835;
}

@keyframes colorhoverCart {
    from {background-color: #45B0AE}
    to {background-color: #6FFFE9}
    from {color: #3A506B}
    to {color: #1D2835}
}
