<ngx-spinner type="ball-scale-multiple"><p style="font-size: 20px; color: white">Checking out...</p></ngx-spinner>
<div class="col-md-3 container" id="cartItemsContainer">
    <ul>
        <h3>Shopping Cart</h3>
        <hr>
        <ng-container *ngFor="let sellItem of userItems; let i = index">
            <div id="cartItemMainContainer">
                <div id="itemImagecontainer" routerLink="/product/{{sellItem.title}}">
                    <img height="200px" width="250px" id="itemImage" src={{sellItem.images}} alt="MISSING IMAGE">
                </div>
                <div id="cartItemInfo" routerLink="/product/{{sellItem.title}}"> <!--Added additional route on the item description for user's ease of access-->
                    <p>
                        <span> <b>{{sellItem.title}}</b></span> <span *ngIf="sellItem.color">  | {{sellItem.color}}</span> <span *ngIf="sellItem.size"> | {{sellItem.size}}</span>
                    </p>
                    <p> <span> <b> Sold by: </b></span> {{sellItem.firstName}} </p>
                    <p> <b>Description:</b> </p>
                    <p id="cartItemDescrtiption">{{sellItem.description}}</p>
                    <p> <span><b>Shipped by: </b></span>{{sellItem.shippingOption}}</p>
                    <p> <span><b>Expected delivery by:</b></span> {{fiveDayLetter | date: 'dd/MM/yyyy'}} </p>
                </div>
                <div id="itemOptionsContainer">
                    <div id="priceContainer">
                        <span class="badge"> CAD ${{ sellItem.price * sellItem.quantity | number : '1.2-2'}} </span>
                        <span class="badge"> XMR {{ sellItem.dollarPrice * sellItem.quantity | number : '1.2-4'}} </span>
                    </div>
                    <p id="cartOptionsTitle"> <b>Item Options:</b> </p>
                    <p id="quantity"> <b>Quantity: </b> <input type="number" name="quantity" min="1" step="1" id="userIn" [(ngModel)]="userItems[i].quantity" (input)="quantityChange($event, i)"> </p>
                    <button class="btn btn-success" id="deleteButton" (click)="deleteItemFromCart(i)">Delete</button>
                </div>
            </div>
            <hr>
        </ng-container>
    </ul>
</div>

<div class="col-md-3 container" id="checkOutMenu">
    <h3 class="checkoutTitle"> SUMMARY </h3>
    <br>
    <div id="checkoutInfo">
        <p> <b>Order Size: {{numOfItems}} items </b> </p>
        <p> <b><u>Subtotal:</u></b> </p> 
        <p> <b> XMR </b>{{subTotal.toFixed(4)}}</p>
        <p> <b><u>Tax (HST):</u></b> </p>
        <p> <b> XMR </b>{{tax.toFixed(4)}} </p>
        <p> <b><u>Grand Total:</u></b> </p>
        <p> <b> XMR </b>{{grandTotal.toFixed(4)}}</p>
    </div>
    <br>
    <button class="btn btn-success" id="checkoutButton" (click)="checkoutPop()" [disabled]="0 >= grandTotal">CHECKOUT</button> <!--Required: Disable button if no items are in cart-->
</div>

<div id="checkoutPopup" class="popup">
    <h3 class="checkoutTitle"> CONFIRMATION </h3>
    <br>
    <p class="checkoutQuestion">Confirm order for a total of</p>
    <p class="checkoutQuestion"><b>XMR {{this.grandTotal.toFixed(6)}}?</b></p>
    <br>
    <button class="btn btn-success"  (click)="buyNow()">CONFIRM</button>
    <button class="btn btn-success" (click)="cancelCheckout()">CANCEL</button>
</div>

<div id="walletDetailPopup" class="popup">
    <h3 class="checkoutTitle"> Order Details </h3>
    <br>
    <p class="checkoutQuestion"> Balance Prior to order: {{this.priorBalance}} XMR </p>
    <p class="checkoutQuestion"> Balance After  order: {{this.afterBalance}} XMR </p>
    <p class="checkoutQuestion"> Fee: {{this.totalFee/1000000000000}} XMR</p>
    
    <p class="checkoutQuestion"><b>Order Value: $CAD {{this.grantTotalDollars.toFixed(2)}}</b></p>
    <br>
    <button class="btn btn-success" routerLink="/my-oders" (click)="ok()">OK</button>
</div>