<svg id="marketAnimatedContainer"> <!--CUSTOM TITLE ANIMATION-->
	<symbol id="marketAnimatedLines"> <text y="90%">Market Listings</text> </symbol>
	<g>
		<use xlink:href="#marketAnimatedLines" class="line"></use>
		<use xlink:href="#marketAnimatedLines" class="line"></use>
		<use xlink:href="#marketAnimatedLines" class="line"></use>
		<use xlink:href="#marketAnimatedLines" class="line"></use>
		<use xlink:href="#marketAnimatedLines" class="line"></use>
	</g>
</svg>
<ul class="list-group">
<div id="MarketItemsContainer">
    <div class="list-group-item" id="ItemContainer" *ngFor="let sellItem of sellItems; let i = index">
        <div id="marketItem" routerLink="/product/{{sellItem.title}}">
            <div>
                <img height="200px" width="250px" id="ItemImage" src={{sellItem.images}} alt="MISSING IMAGE">
            </div>
            <div id="itemDesc">
                <span><b>Item Title:</b> {{ sellItem.title }}</span>
                <br><br>
                <p> <b>Description:</b> </p>
                <!-- Cut off descriptions longer than 400 characters -->
                <p *ngIf="sellItem.description.length > 400">
                    {{ sellItem.description.substring(0,150) }}...
                </p>
                <p *ngIf="400 >= sellItem.description.length">
                    {{ sellItem.description }}
                </p>
            </div>
            <div>
                <span class="badge">${{ sellItem.price }}</span>
            </div>
        </div>
    </div>
</div>
</ul> 