/* REVISED INTO RELATIVE RESIZING*/

#divTitle {
    white-space: nowrap;
    font-weight: bold;
    padding: 1% 0%;
    margin-left: 1%;
}

#MarketItemsContainer {
    width: 98%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 1%;
    background-color: #D8C3A4;
    border: 5px inset #F8EECA;
    border-radius: 15px;
    padding: 0.4% 0.2%;
}

#ItemContainer {
    cursor: pointer;
    background-color: #f7f3e9;
    border: 2px solid #D8C3A4;
}

#ItemContainer:hover {
    animation-name: colorhover;
    animation-duration: 300ms;
    background-color: #e9e3cf
}

@keyframes colorhover {
    from {background-color: #f7f3e9}
    to {background-color: #e9e3cf}
}

#marketItem {
    display: flex;
}

#ItemImage {
    border: 1px solid #e98074;
    border-radius: 15px;
}

#itemDesc {
    position: relative;
    padding-top: 1%;
    left: 3%;
    font-size: large;
	width: 100%;
}

.verticalDivisor {
    width: 100%;
    height: auto;
    display:inline-block;
}

.badge {
    font-size: large;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track { /* Track */
    border-radius: 15px;
}

::-webkit-scrollbar-thumb { /* Handle */
    background: #e98074; 
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #E85A4F; 
}