<h3 id="inLine">Items for Sale: </h3>
<ul class="list-group" id="MarketPage">
<a
class="list-group-item"
id="marketItem"
*ngFor="let sellItem of sellItems; let i = index">
<div style="display: flex;">
    <div>
        <img height="200px" width="250px" style="border: 1px solid #e98074;"  src={{sellItem.images}} alt="hi">
    </div>
    <div id="itemDesc">
        <span><b>Item Title:</b><br> {{ sellItem.title }}</span>
        <p><b>Description:</b><br> {{ sellItem.description }}</p>
    </div>
    <div class="verticalDivisor"></div>
    <div>
        <span class="badge">${{ sellItem.price }}</span>
    </div>
</div>
</a>
</ul> 
<h3 id="inLine">Categories: </h3>