<div class="container">
    <ul>
        <h3>User Items</h3>
        <hr>
        <div *ngIf="userItems.length > 0; else noItemsBlock">
            <ng-container *ngFor="let item of userItems; let i = index">
                <div id="cartItemMainContainer">
                    <div id="itemImagecontainer">
                        <img height="200px" width="250px" id="itemImage" src={{item.images}} alt="MISSING IMAGE">
                    </div>
                    <div id="cartItemInfo" style="background-color: red;">
                        <p>{{item.title}}</p>
                        <p>{{item.description}}</p>
                    </div>
                    <div id="itemOptionsContainer">
                        <button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
                    </div>
                </div>
                <hr>
            </ng-container>
        </div>
        <ng-template #noItemsBlock>
            <p>This user does not have any listings</p>
        </ng-template>
    </ul>
    <button class="btn" routerLink="/admin-panel">Back</button>
</div>