<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="first">First Name</label>
                <input
                  type="strig" id="first" class="form-control"
                  formControlName="first" name="first" required/>
                  <div *ngIf="loginForm.controls.first.invalid && (loginForm.controls.first.dirty || loginForm.controls.first.touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.controls.first.errors?.['required']">
                    First Name is required.
                  </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="last">Last Name</label>
                <input
                  type="email" id="last" class="form-control"
                  formControlName="last" name="last" required/>
                  <div *ngIf="loginForm.controls.last.invalid && (loginForm.controls.last.dirty || loginForm.controls.last.touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.controls.last.errors?.['required']">
                    Last Name is required.
                  </div>
                  </div>
              </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input
                type="email" id="email" class="form-control"
                formControlName="email" name="email" required email/>
                <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls.email.errors?.['required']">
                    E-Mail is required.
                </div>
                <span *ngIf="!loginForm.controls.email.errors?.['required']">email is not correrct</span>
                </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control"
                formControlName="password" name="password" required/>
                <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls.password.errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="loginForm.controls.password.errors?.['minlength']">
                    Password must be at least 8 characters long.
                </div>
                </div>
            </div>
            <div class="form-group">
                <label for="rePassword">Re Enter Password</label>
                <input type="password" id="rePassword" class="form-control"
                  formControlName="rePassword" name="rePassword" required/>
                  <div *ngIf="loginForm.controls.rePassword.invalid && (loginForm.controls.rePassword.dirty || loginForm.controls.rePassword.touched)"
                  class="alert alert-danger">
                  <div *ngIf="loginForm.controls.rePassword.errors?.['required']">
                    Field is required.
                  </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="!loginForm.controls.rePassword.invalid && loginForm.controls.password.value !== loginForm.controls.rePassword.value">
                    Passwrd didn't match.
                  </div>
              </div>
            <div>
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!loginForm.valid"
              > Signup</button>
            </div>
          </form>
    </div>
</div>

