/* REVISED INTO RELATIVE RESIZING*/

#ProductContainer {
    display: flex; 
    justify-content: space-around; 
    margin-top: 2%;
    background-color: #D8C3A4;
    border: 5px inset #F8EECA;
    border-radius: 15px;
    padding: 1% 1%;
}

#ImagesSideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px ridge #f8eecac0;
    border-radius: 15px;
    overflow-y: auto;
    width: 10%;
}

#SideMenuTitle {
    white-space: nowrap;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 5px solid #f8eecac0;
    font-size: 15px;
    font-weight: bold;
}

#SideMenuImageContainer {
    padding: 1% 0%;
}

#SideMenuImage {
    border: 1px solid #e98074;
    border-radius: 15px;
}

#SelectedImageContainer {
    padding: 1% 1%;
}

#SelectedImage {
    max-width: 100%;
    border: 2px solid #F8EECA;
    padding: 1% 1%;
    border-radius: 15px;
}

#detailContainer {
    border: 5px ridge #f8eecac0;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 35%;
    padding-left: 2%;
    padding-right: 2%;
}

#PriceContainer {
    display: flex; 
    flex-direction: row;
    font-size: 20px; 
    font-weight: bold;
}

#ColorTitle {
    font-weight: bold;
}

#ColorRange {
    display: flex;
}

#ColorSelection {
    padding: 0% 1%;
}

#ColorButtons {
    border: 5px #f8eecac0;
    background-color:#f8eeca;
    border-radius: 15px;
}

#SizeContainer {
    padding-top: 2%;
    padding-bottom: 1%;
}

#SizeTitle  {
    font-weight: bold;
}

#SizeRange {
    display: flex;
}

#SizeSelection {
    padding: 0% 1%;
}

#SizeButtons {
    border: 5px #f8eecac0;
    background-color:#f8eeca;
    border-radius: 5px;
}

#LocationContainer {
    padding-top: 2%;
    max-width: 100%;
}

#LocationTitle {
    font-weight: bold;
}

#DescriptionContainer {
    max-width: 100%;
}

#DescriptionTitle {
    font-weight: bold;
}

#CheckoutOptionsContainer{
    overflow-x: auto;
    display: flex; 
    width: 15%;
    flex-direction: column; 
    align-items: center;
    border: 5px ridge #f8eecac0;
    border-radius: 15px;
}

#CheckoutOptionsTitle {
    white-space: nowrap;
    font-weight: bold;
    border-bottom: solid #f8eeca;
    padding-bottom: 5%;
    margin-left: 1%;
}

#SellerTitle {
    white-space: nowrap;
    font-weight: bold;
    border-bottom: solid #f8eeca;
    padding-bottom: 5%;
    margin-left: 1%;
}

button {
    width: 85%;
    background-color:#f8eeca;
    border-radius: 5px;
    margin: 5px;
}

button.btn-success {
    background-color: #f8eeca;
    color: black;
    border-color: #d8c3a5;
    font-weight: bold;
}

button.btn-success:hover {
    animation-name: colorhoverProduct;
    animation-duration: 400ms;
    background-color: #EAEFDC;
}

@keyframes colorhoverProduct {
    from {background-color: #f8eeca}
    to {background-color: #EAEFDC}
}

/*Custom Radio Buttons*/
.option {
    cursor: pointer;
    padding: 5px 10px;
    background-color:#f8eeca;
    border-radius: 15px;
    margin: 5px;
    white-space: nowrap;
}

/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e98074; 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E85A4F; 
}