<div id="ProductContainer">
    <div id="ImagesSideMenu">
        <p id="SideMenuTitle">Product Images</p>
        <div *ngFor="let img of images; let i = index" id="SideMenuImageContainer">
            <img src={{img}} alt="image #{{i + 1}} from carousel" width="140px" height="100px" id="SideMenuImage" (click)="onImageChange(img)">
        </div>
    </div>
    <div id="SelectedImageContainer">
        <img src="{{bigImgSrc}}" alt="Central selected image" width="800px" height="500px" id="SelectedImage">
    </div>
    <div id="detailContainer">
        <div>
            <h2>{{item?.title}}</h2>
        </div>
        <div id="PriceContainer">
            <p> Price: ${{item?.price}}</p> 
        </div>
        <hr>
        <div *ngIf="item?.colors.length > 0">
            <p><span id="ColorTitle">Color:</span> {{selectedColor}} </p>
            <div id="ColorRange"> <!-- Lists all colours as buttons and allows selection of one -->
                <div *ngFor="let color of item.colors;" id="ColorSelection">
                    <input type="radio" id="{{color}}" (click)="changeColor(color)" name="colorRadio">
                    <label for="{{color}}" class="option">{{color | uppercase}}</label><br>
                </div>
            </div>
        </div>
        <div *ngIf="item?.sizes.length > 0">
            <p><span id="SizeTitle">Size:</span> {{selectedSize}} </p>
            <div id="SizeRange"> <!-- Lists all sizes as buttons and allows selection of one -->
                <div *ngFor="let size of item.sizes;" id="SizeSelection">
                    <input type="radio" id="{{size}}" (click)="changeSize(size)" name="sizeRadio">
                    <label for="{{size}}" class="option">{{size | uppercase}}</label>
                </div>
            </div>
        </div>
        <div *ngIf="item?.parameters.length > 0">
            <div *ngFor="let parm of item.parameters;" id="LocationContainer">
                <!-- Custom parameters input by seller -->
                <p><span id="LocationTitle">{{parm.name}}:</span> {{parm.value}}</p>
            </div>
        </div>
        <br/>
        <div id="DescriptionContainer">
            <p><span id="DescriptionTitle">Description:  </span>{{item?.description}}</p>
        </div>
        <div>
            <p>
                <span id="placeholder">
                    Delivery details:
                </span>
                <br/><b>FREE</b> Expedited shipping
            </p>
            <p *ngIf="userLocation?.length > 0">
                Delivery to: {{userLocation}}
            </p>
            <p *ngIf="userLocation?.length <= 0">
                Delivery to: Unknown location. Please allow access for estimate.
            </p>
        </div>
    </div>
    <div *ngIf="item && item.title" id="CheckoutOptionsContainer">
        <h4 id="CheckoutOptionsTitle">Product Options</h4>
        <button class="btn btn-success" (click)="addToCart()">ADD TO CART</button>
        <button class="btn btn-success">BUY NOW</button>
        <br/><br/>

        <h4 id="SellerTitle">Seller Info</h4>
        <img src="../../assets/img/download.jpeg" width="100px" height="75px" style="border-radius: 100px;"/> <!-- Placeholder 'avatar' for seller-->
        <br />
        <p>{{item.firstName}}</p> <!-- First name of the seller -->
    </div> 
</div>  