/* REVISED INTO RELATIVE RESIZING*/
/* REVISED COLOR PALETTE*/

#Label {
    color: white;
}

.divider{
    width: 5px;
    height:auto;
    display:inline-block;
}

/* CUSTOM BUTTONS */
button.btn-success {
    background-color: #45B0AE;
    color: #3A506B;
    border-color: #1C2541;
    font-weight: bold;
}

button.btn-success:focus {
    background-color: #6FFFE9;
    color: #1D2835
}

button.btn-success:hover {
    animation-name: colorhoverSI;
    animation-duration: 400ms;
    background-color: #6FFFE9;
    color: #1D2835;
}

button.btn-primary {
    background-color: #45B0AE;
    color: #3A506B;
    border-color: #1C2541;
    font-weight: bold;
}

button.btn-primary:focus {
    background-color: #6FFFE9;
    color: #1D2835
}

button.btn-primary:hover {
    animation-name: colorhoverSI;
    animation-duration: 400ms;
    background-color: #6FFFE9;
    color: #1D2835
}

@keyframes colorhoverSI {
    from {background-color: #45B0AE}
    to {background-color: #6FFFE9}
    from {color: #3A506B}
    to {color: #1D2835}
}