<div class="container">
    <ul>
        <h3>Users</h3>
        <hr>
        <ng-container *ngFor="let user of users; let i = index">
            <div id="cartItemMainContainer">
                <div id="cartItemInfo" style="background-color: red;" routerLink="/{{user.email}}">
                    <p>{{user.firstName}}</p>
                    <p>{{user.lastName}}</p>
                    <p>{{user.email}}</p>

                </div>
                <div id="itemOptionsContainer">
                    <button class="btn btn-primary" (click)="blockUser(user)">{{user.isBlock ? "Unblock" : "block"}}</button>
                    <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                </div>
            </div>
            <hr>
        </ng-container>
    </ul>
</div>