/* REVISED INTO RELATIVE RESIZING*/
/* REVISED COLOR PALETTE*/

@font-face {
    font-family: 'RoundedFont';
    src: url("/assets/TypoRound/Typo_Round_Regular_Demo.otf");
}

h2 {
    color: rgb(220, 220, 220);
    text-shadow: 1px 1px 4px #dddddd;
    border-bottom: 4px solid #1C2541;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.verticalDivisor {
    width: 100%;
    height: auto;
    display:inline-block;
}

.badge {
    background-color: #0B132B;
    font-size: large;
}

.optionContainer {
    height: 100%;
    width: 150%;
    margin-left: -52%;
}

#navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 4%;
    margin-left: 2.3%;
    height: max-content;
    width: 20%;
    background-color: #7A96B8;
    border: 2px solid #0B132B;
    border-radius: 15px;
}

#contentContainer {
    margin-left: 25%;
}

/* CUSTOM BUTTONS */
.button {
    width: 36%;
    margin-left: 49.5%;
    margin-bottom: 3%;
    padding: 2%;
    background-color: #45B0AE;
    color: #3A506B;
    border-color: #1C2541;
    font-weight: bold;
}

.button:hover {
    animation-name: colorhoverheader;
    animation-duration: 400ms;
    background-color: #6FFFE9;
    color: #1D2835;
}

@keyframes colorhoverheader {
    from {background-color: #45B0AE}
    to {background-color: #6FFFE9}
    from {color: #3A506B}
    to {color: #1D2835}
}
