<div id="navMenu">
  <h2> Market Options </h2>
  <div class="optionContainer">
    <button class="button" id="SellButton" (click)="sellItem()">Create new listing</button>
    <button class="button" id="ListingsButton" (click)="toggleListingsView()" >My Market Listings</button> <!--TO DO: Change Buttons to routes like the "app-sell-edit"; Ensure that on button click the routes show on the right side div (id: "contentContainer")-->
    <button class="button" id="ArchiveButton" (click)="toggleArchiveView()">My Listings Archive</button>
    <button class="button" routerLink="/my-orders">My Orders</button>
  </div>
</div>

<div id="contentContainer"> <!--Division responsible for displaying content based on selected option from the "navMenu" (above); Must display content based on user choice from menu.-->
  <div class="col-xs-10">
    <div class="spacer"></div>

    <!--NEW LISTING FORM-->
    <div>
      <app-sell-edit [(sellMode)]="sellMode"></app-sell-edit>
    </div>

    <!--USER MARKET LISTINGS-->
    <div>
      <app-market-listings [(listingsMode)]="listingsMode"></app-market-listings> <!--When clicking on market item both Listings and Archive components are hidden-->
    </div>

    <!--ARCHIVED MARKET LISTINGS-->
    <div>
      <app-listings-archive [(archiveMode)]="archiveMode"></app-listings-archive>
    </div>

  </div>
</div>